.quote{
    background-color: rgb(41, 46, 46);
    height: 40px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 99;
}

.quote p{
    color: white;
}